<div class="banner bg-julianna-byrne-design">
	<div class="banner-content">
		<h1>JULIANNA BYRNE</h1>
		<h2>NEW WEBSITE</h2>
		<h2>COMING SOON</h2>
	</div>
	<%= link_to " juliannabyrnedesign@gmail.com", "mailto:juliannabyrnedesign@gmail.com"%>
</div>