<div class="banner bg-julianna-byrne-design">
	<div class="banner-content">
		<h1>JULIANNA BYRNE</h1>
		<h2>NEW WEBSITE</h2>
		<h2>COMING SOON</h2>
	</div>
	<div class="contact"><%= link_to "CONTACT ME", "mailto:juliannabyrnedesign@gmail.com", class: "contact-btn" %>
	<%= link_to "CONTACT AGENT", "mailto:juliannabyrnedesign@gmail.com?subject=The Peel Boutique Booking Request", class: "contact-btn" %>
	</div>
</div>