.banner {
  background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.7) 80%), url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1507926838/julianna_byrne_design.jpg');
  color: #d69f8f;
  text-align: center;
  height: 100vh;
  max-width: 100%;
  background-size: cover !important;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: space-around;
  flex-direction: column;
  padding: 20vh 20px 40px 20px;
  a {
    color: #d69f8f;
    margin-top: 10px;
    font-size: 32px;
    letter-spacing: 1px;
  }
  a:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}
.banner-content {
  h1 {
    text-shadow: 0px 1px rgba(0,0,0,0.2);
    font-size: 66px;
    letter-spacing: 28px;
    margin-bottom: 116px;
    font-weight: lighter;
    margin-left: 24px;
  }
  h2 {
    letter-spacing: 8px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 45px;
  }
}
@media only screen and (max-width: 1024px) {
  .banner-content {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 25px;
    }
  }
  .banner {
    a {
      font-size: 20px;
    }
  }
}
@media only screen and (max-width: 736px) {
  .banner {
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .banner-content h1 {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 568px) {
  .banner-content h1 {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 420px) {
  .banner {
    padding: 20px;
    a {
      font-size: 16px;
    }
  }
  .banner-content h1 {
    font-size: 40px;
    letter-spacing: 10px;
  }
}
